//pkgs.dev.azure.com/dv-ah01-sea-p-amplify-health01/AH-CDM/_packaging/cdm-npm-packages/npm/registry/:username=dv-ah01-sea-p-amplify-health01
//pkgs.dev.azure.com/dv-ah01-sea-p-amplify-health01/AH-CDM/_packaging/cdm-npm-packages/npm/registry/:_password=am9tZXhib2NvdXZnZzZoZHBwdG1naWh2ZG1nYmMyM2ptdmV6aXVxamQ3Y2dpa2Jyc3JlcQ==
//pkgs.dev.azure.com/dv-ah01-sea-p-amplify-health01/AH-CDM/_packaging/cdm-npm-packages/npm/registry/:email=ahsdk@samplemail.com
ahsdk:registry=https://pkgs.dev.azure.com/dv-ah01-sea-p-amplify-health01/AH-CDM/_packaging/cdm-npm-packages/npm/registry/
always-auth=true